.container h1 {
    margin-top: 1em;
    min-width: 600px;
    max-width: 35vw;
}

.container p{
    padding-top: 30px;
    min-width: 600px;
    max-width: 35vw;
}

.highlightedText {
    color: #36DBFF;
}
