.deleteButton {
    border: 2px solid red !important;
    color: red !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
}

.deleteButtonBold {
    border: 2px solid red !important;
    color: red !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
}