.stars {
  display: inline-flex;
  margin-right: 0.5rem;
  color: white;
}

.starWrapper {
  cursor: pointer;
  width: 2.5rem;
  position: relative;
  margin: 0.1rem 0 0.5rem 0;
}

.starOutline {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.individualStarSolid {
  border: 2px solid #ee7674;
  background-color: #ee7674;
  border-radius: 10px;
  margin-right: 4px;
  padding: 2px;
}

.individualStarEmpty {
  border: 2px solid #ee7674;
  background-color: #ee7674;
  border-radius: 10px;
  margin-right: 4px;
  padding: 2px;
}