.mapContainer {
  height: 85vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-top: 1rem;
}

.title {
  padding-top: 1rem;
}

.sidebar {
  height: 100vh;
  width: 30vw;
  border-right: 2px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100vh;
  overflow: scroll;
}

.map {
  height: 100vh;
  width: 70vw;
}


.restaurant {
  cursor: pointer;
}

.restaurant:hover {
  font-weight: bold;
}

.loader {
  margin-top: 1.2rem;
  font-weight: bold;
}