.mapContainer {
  height: 70vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1rem;

}

.listTitle {
  color: #ee7674;
  text-align: center;
}

.sidebar {
  height: 100vh;
  width: 30vw;
  padding-left: 5rem;
  margin-bottom: 20px;
  max-width: 100vh;
  overflow: scroll;
  scrollbar-color: #ee7674 #36dbff !important;
}

.map {
  position: relative;
  height: 100vh;
  width: 70vw;
  margin-right: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.restaurant {
  cursor: pointer;
}

.restaurant:hover {
  font-weight: bold;
}

.loader {
  margin-top: 1.2rem;
  font-weight: bold;
}

.restaurantName {
  border: 0;
  background-color: transparent;
  font-weight: normal;
}

.restaurantsList h2 {
  margin-bottom: 12px;
}

.individualRestaurantContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  padding-left: 1.8rem;
}

.individualRestaurantContainer:hover {
  border: 1px solid #ee7674;
}

.ratingContainer {
  position: relative;
  top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 2rem;
  padding: 10px;
  background-color: #ee7674;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #36dbff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ee7674;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.loadBtn {
  padding: 0.4rem;
  color: black;
  font-weight: 500;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #ee7674;
  letter-spacing: 2px;
  background: transparent;
}

.loadBtn:hover {
  border: 1px solid black;
  background: #ee7674;
}



@media (max-width: 768px) {

  .mapContainer {
    height: 50vh;
    width: 100%;
  }

  .container {
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .sidebar {
    height: 50vh;
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  .map {
    height: 50vh;
    width: 100%;
    margin-right: 0;
  }

  .individualRestaurantContainer {
    padding-left: 1rem;
  }

  .ratingContainer {
    margin-right: 1rem;
  }
}