@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.navbar {
  display: flex;
  flex-direction: row;
  height: 7rem;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: 'Inter', Helvetica;
  align-items: center;
  padding: 1rem;
}

.rightNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 24px;
}

.rightNavbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftNavbarLinks {
  display: block;
  font-size: 24px;
  background-color: #36dbffd9;
  padding: 12px 0 12px 62px;
}

.link {
  color: #ee7674;
  padding-left: 1rem;
  padding-right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.profileBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 5px 15px;
  color: #ee7674;
}


.username {
  color: black;
  padding-left: 1rem;
  padding-right: 5rem;
}

.userIcon {
  padding-bottom: 2px;
  margin-left: 10px;
}

.leftNavbarLinks .link:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 18px;
}

.rightNavbarLinks .link:hover {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

<<<<<<< HEAD
.logoName{
  font-size: 40px;
}

.logoName span:nth-child(1){
  color: #36dbff;
  margin-left: 40px;
}

.logoName span:nth-child(2){
  color: #ee7674;
}

.logo {
  border-radius: 5px;
  width: 81px;
  height: 76px;
  margin-left: 62px;
=======
.postalCodeButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  width: 6rem;
  margin-left: 1em;
}

.locationPin {
  font-size: 20px;
}

.pinWrapper {
  margin-right: 1em;
  min-width: 20px;
}


.postalCode {
  min-width: 5rem;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
}

.postalCode:hover {
  text-decoration: underline;
>>>>>>> main
}