.restaurantWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.type {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.imageWrapper {
  margin-right: 16px;
  border: 0.5px solid black;
  height: 240px;
  border-radius: 5px;
}

.image {
  border-radius: 5px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurantName {
  margin: 0;
  font-size: 24px;
}

.btnWrapper {
  display: flex;
}

.iconButton {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.iconButton:hover,
.favourited {
  color: #36DBFF;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 20px;
}


.infoSubWrapper {
  margin-top: 8px;
}

.bottomWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.reviewButton {
  background-color: #EE7674;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.reviewButton:hover {
  background-color: #36DBFF;
}

.link {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .restaurantWrapper {
    flex-direction: column;
    padding: 8px;
    max-width: 100%;
    padding-left: 10px;
    font-size: 90%;

  }

  .imageWrapper {
    display: none;
  }

  .infoWrapper {
    margin-top: 16px;
  }

  .topWrapper {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .btnWrapper {
    margin-top: 8px;
  }

  .bottomWrapper {
    flex-direction: row;
    align-items: stretch;
    margin-top: 8px;
    font-size: 80%;
  }

  .reviewButton {
    margin-bottom: 8px;
    padding: 4px;
  }
}