.restaurantWrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: start;
  align-items: center;
  padding: 0.1rem 1rem 0.5rem 1rem;
}

.restaurantName {
  text-align: center;
  height: 5rem;
}

.restaurantInformation {
  align-self: self-start;
}