.stars {
  display: inline-flex;
  margin-right: 0.5rem;
  width: 100%;
  color: white;
}

.individualStarSolid {
  border: 2px solid #ee7674;
  background-color: #ee7674;
  border-radius: 10px;
  margin-right: 4px;
  padding: 2px;
}

.individualStarEmpty {
  border: 2px solid #ee7674;
  background-color: #ee7674;
  border-radius: 10px;
  margin-right: 4px;
  padding: 2px;
}