.supportLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.linkContainer {
  margin-bottom: 16px;
  width: 100%;
  padding: 2rem;
}

.link {
  color: #333;
  text-decoration: none;
  display: block;
}

.title {
  margin-bottom: 4px;
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
}