.container {
  margin-top: 20px;
  background-color: #EE7674;

}

.subContainer {
  margin-top: 0.5rem;
  border: 2px solid black;
}

.header {
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  margin: 0 1rem 0.3rem 1rem;
  text-align: center;
}

.restrictions {
  display: grid;
  grid-template-columns: 1fr;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 1rem;
}

.button {
  background-color: #EE7674;
  color: black;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  box-shadow: 1px 1px 1px black;
  width: 7rem;
  border-radius: 2px;
}

.button:hover {
  cursor: grab;
  box-shadow: 2px 2px 2px black;
}

.dietaryRestriction button {
  width: 100%;
  height: 3.2rem;
  background-color: #36DBFF;
  color: #EE7674;
  border: 0px;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: left;
  padding-left: 2rem;
  border-top: 2px;
}

.dietaryRestriction button:hover {
  background-color: #EE7674;
  color: #36DBFF;
  cursor: grab;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  font-weight: bolder;
}

.restrictionButton {
  display: inline-block;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.selected {
  background-color: #EE7674 !important;
  color: #36DBFF !important;
  font-weight: bolder !important;
  border-top: 0.5px solid black !important;
  border-bottom: 0.5px solid black !important;
}

/* For Bigger than Tablets */

@media screen and (min-width: 767px) {
  .subContainer {
    width: calc(100% - 20rem);
    margin: 0 10rem 0 10em;
  }
}