.leftContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 20vw;
  border: 2px solid #ee7674;
  border-radius: 20px;
  margin: 68px 221px 0px 62px;
  max-width: 30vw;
}


.rightContainer {
  min-width: 50vw;
  margin: 68px 200px;
}

.selected {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  font-family: sans-serif;
}

.link {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 20px;
}

.leftContainer > *:not(:last-of-type)   {
  border-bottom: 2px solid #ee7674;
}

.link:hover {
  font-weight: bold;
  color: #ee7476;
}

.link:active {
  font-weight: bold;
  color: #ee7476;
}

.leftContainer h1 {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}

.icon {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  top: 30px;
}