.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.options {
  display: flex;
  gap: 1rem;
}

.button {
  width: 4rem;
  height: 1.7rem;
  font-size: 0.9rem;
  background-color: #EE7674;
  border: 0;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #36DBFF;
  color: white;
}

.options select {
  min-width: 10rem;
  min-height: 1.7rem;
}

.slider {
  margin-bottom: 0.8rem;
}

@media (max-width: 630px) {
  .top {
    display: flex;
    flex-direction: column;
  }

  .slider {
    margin-bottom: 5px;
  }
}

@media (max-width: 400px) {
  .slider {
    margin: 0;
  }

  .options {
    flex-direction: column;
    font-size: 90%;
  }
}