.container {
  background-image: url('/HomeBackground.jpg');
  background-size: cover;
  min-height: 80vh;
  overflow-y: hidden;
}


.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 1rem;
  color: black;
  padding-top: 15rem;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 0;
  font-size: 3rem;
  color: black;
  text-shadow: white 1px 2px;
}